:root {
  --H: lightblue;
  --E: white;
  --O: grey;
  --K: red;
  --T: gold;
}

* {
  transition: 0.1s;
}

body {
  font-family: "Segoe UI";
  font-size: auto;
  text-align: center;
}

table {
  border: 0.1rem solid black;
  margin: 0.5rem auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border: 0.01rem solid rgb(199, 199, 199);
  height: 3rem;
  width: 3rem;
}

ul {
  list-style-type: none;
}

input {
  background-color: lightgrey;
}

input[type="button"] {
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
}

#ControlsMenu {
  line-height: 120%;
}

#sliderContainer {
  margin-bottom: 6px;
  display: none;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #5a5a5a;
}

@media only screen and (max-width: 450px) {
  td {
    height: 1.5rem;
    width: 1.5rem;
  }
}